@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #6111b0;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 11s linear infinite;
}




.background li:nth-child(0) {
    left: 48%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 38%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 53%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 83%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 14%;
    width: 94px;
    height: 94px;
    bottom: -94px;
    animation-delay: 17s;
}
.background li:nth-child(5) {
    left: 36%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 22s;
}
.background li:nth-child(6) {
    left: 40%;
    width: 46px;
    height: 46px;
    bottom: -46px;
    animation-delay: 17s;
}
.background li:nth-child(7) {
    left: 32%;
    width: 27px;
    height: 27px;
    bottom: -27px;
    animation-delay: 2s;
}
.background li:nth-child(8) {
    left: 40%;
    width: 40px;
    height: 40px;
    bottom: -40px;
    animation-delay: 22s;
}
.background li:nth-child(9) {
    left: 3%;
    width: 33px;
    height: 33px;
    bottom: -33px;
    animation-delay: 36s;
}
.background li:nth-child(10) {
    left: 63%;
    width: 21px;
    height: 21px;
    bottom: -21px;
    animation-delay: 5s;
}
.background li:nth-child(11) {
    left: 17%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 48s;
}
.background li:nth-child(12) {
    left: 36%;
    width: 43px;
    height: 43px;
    bottom: -43px;
    animation-delay: 2s;
}
.background li:nth-child(13) {
    left: 36%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 10s;
}
.background li:nth-child(14) {
    left: 50%;
    width: 55px;
    height: 55px;
    bottom: -55px;
    animation-delay: 2s;
}
.background li:nth-child(15) {
    left: 22%;
    width: 39px;
    height: 39px;
    bottom: -39px;
    animation-delay: 59s;
}
.background li:nth-child(16) {
    left: 83%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 70s;
}
.background li:nth-child(17) {
    left: 46%;
    width: 23px;
    height: 23px;
    bottom: -23px;
    animation-delay: 48s;
}
.background li:nth-child(18) {
    left: 40%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 85s;
}
.background li:nth-child(19) {
    left: 12%;
    width: 50px;
    height: 50px;
    bottom: -50px;
    animation-delay: 51s;
}
.background li:nth-child(20) {
    left: 56%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 90s;
}
.background li:nth-child(21) {
    left: 33%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 3s;
}
.background li:nth-child(22) {
    left: 37%;
    width: 61px;
    height: 61px;
    bottom: -61px;
    animation-delay: 50s;
}
.background li:nth-child(23) {
    left: 77%;
    width: 58px;
    height: 58px;
    bottom: -58px;
    animation-delay: 103s;
}
.background li:nth-child(24) {
    left: 85%;
    width: 86px;
    height: 86px;
    bottom: -86px;
    animation-delay: 11s;
}
.background li:nth-child(25) {
    left: 42%;
    width: 21px;
    height: 21px;
    bottom: -21px;
    animation-delay: 31s;
}
.background li:nth-child(26) {
    left: 7%;
    width: 64px;
    height: 64px;
    bottom: -64px;
    animation-delay: 77s;
}
.background li:nth-child(27) {
    left: 54%;
    width: 42px;
    height: 42px;
    bottom: -42px;
    animation-delay: 24s;
}
.background li:nth-child(28) {
    left: 20%;
    width: 42px;
    height: 42px;
    bottom: -42px;
    animation-delay: 8s;
}
.background li:nth-child(29) {
    left: 75%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 113s;
}
.background li:nth-child(30) {
    left: 20%;
    width: 82px;
    height: 82px;
    bottom: -82px;
    animation-delay: 24s;
}
.background li:nth-child(31) {
    left: 84%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 76s;
}
.background li:nth-child(32) {
    left: 23%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 119s;
}
.background li:nth-child(33) {
    left: 70%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 38s;
}
.background li:nth-child(34) {
    left: 59%;
    width: 82px;
    height: 82px;
    bottom: -82px;
    animation-delay: 18s;
}
.background li:nth-child(35) {
    left: 28%;
    width: 41px;
    height: 41px;
    bottom: -41px;
    animation-delay: 3s;
}
.background li:nth-child(36) {
    left: 76%;
    width: 18px;
    height: 18px;
    bottom: -18px;
    animation-delay: 178s;
}
.background li:nth-child(37) {
    left: 34%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 112s;
}
.background li:nth-child(38) {
    left: 77%;
    width: 22px;
    height: 22px;
    bottom: -22px;
    animation-delay: 31s;
}
.background li:nth-child(39) {
    left: 82%;
    width: 61px;
    height: 61px;
    bottom: -61px;
    animation-delay: 167s;
}
.background li:nth-child(40) {
    left: 36%;
    width: 32px;
    height: 32px;
    bottom: -32px;
    animation-delay: 103s;
}
.background li:nth-child(41) {
    left: 88%;
    width: 25px;
    height: 25px;
    bottom: -25px;
    animation-delay: 44s;
}
.background li:nth-child(42) {
    left: 43%;
    width: 23px;
    height: 23px;
    bottom: -23px;
    animation-delay: 133s;
}
.background li:nth-child(43) {
    left: 63%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 116s;
}
.background li:nth-child(44) {
    left: 29%;
    width: 25px;
    height: 25px;
    bottom: -25px;
    animation-delay: 94s;
}
.background li:nth-child(45) {
    left: 82%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 47s;
}
.background li:nth-child(46) {
    left: 17%;
    width: 39px;
    height: 39px;
    bottom: -39px;
    animation-delay: 19s;
}
.background li:nth-child(47) {
    left: 8%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 177s;
}
.background li:nth-child(48) {
    left: 37%;
    width: 46px;
    height: 46px;
    bottom: -46px;
    animation-delay: 156s;
}
.background li:nth-child(49) {
    left: 77%;
    width: 26px;
    height: 26px;
    bottom: -26px;
    animation-delay: 145s;
}