body {
    /* background-image: url('./img_2.jpg'); */
    /* background-color: #4c4c4c !important; */
    /* background-repeat: no-repeat; */
    background: transparent;
    /* background-size: cover; */
  }